@import "/home/kcalb/.config/eww/colors.scss";
@import "/home/kcalb/.config/eww/dash/dash.scss";
@import "/home/kcalb/.config/eww/bar/bar.scss";
@import "/home/kcalb/.config/eww/sidebar/sidebar.scss";

* {
  all: unset;
  border-radius: 24px;
  font-family: Inconsolata Nerd Font;
}
