configuration {
    location: 3;
    font: "Inconsolata Nerd Font 12";
    fixed-num-lines: false;
    steal-focus: true;
  }

  /* Theme */

@import "~/.cache/wal/colors-rofi-dark"
listview {
    lines: 6;
    dynamic: false;
    fixed-height: true;
  }

element-text {
 background-color: inherit;
 text-color: inherit;
}

window {
  width: 22%;
  padding: 1%;
  y-offset: 56;
  x-offset: -166;
}

inputbar {
    enabled: false;
  }
